@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.blank-header {
  $rhombus-size: 38px;

  background: linear-gradient(90deg, #e24329 0%, #380d75 63.02%);
  flex-direction: column;
  z-index: 0;

  .desktop-only {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .mobile-only {
    @media (min-width: $screen-sm-max) {
      display: none;
    }
  }

  .image-border {
    opacity: 1;
    height: unset;
    min-height: unset;
  }

  .wave-image {
    top: 120px;
    right: 0;

    @media (max-width: $screen-sm-min) {
      display: block;
      top: 70%;
    }
  }

  .header-content {
    font-weight: bold;
    font-size: 63px;
    line-height: 79px;
    text-align: center;
    flex-direction: row;
    margin: 0;
    width: 100%;

    @media (max-width: $screen-sm-max) {
      font-size: 9vw;
    }

    .tool-name {
      width: 40%;
      min-width: 40%;
      max-width: 40%;
      @media (min-width: $screen-sm-max) {
        text-align: right;
      }
    }

    .vs-wrapper + .tool-name {
      @media (min-width: $screen-sm-max) {
        text-align: left;
      }
    }
  }

  .subtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    text-align: center;
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .subtitle-main {
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    margin: 0;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .header-description-wrapper {
    @media (min-width: $screen-sm-max) {
      display: flex;
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .image-header-wrapper {
    margin: auto;
    display: flex;
  }

  .accelerated-img {
    width: 98px;
    height: 30px;
    margin: auto;
  }

  .conducted-by-wrapper {
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .conducted-by {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
  }

  .vs-wrapper {
    display: flex;
    margin: 28px;
    padding: 0;
    max-width: 60px;
    max-height: 60px;

    @media (max-width: $screen-sm-max) {
      margin: 20px;
    }

    div {
      margin: 0;
    }

    .red-color {
      background: #e24329;
      z-index: 100;
    }

    .white-color {
      background: #ffffff;
      z-index: -1;
      margin-left: -30px;
    }

    .rhombus-shape {
      transform: rotate(-45deg);
      max-width: $rhombus-size;
      max-height: $rhombus-size;
      min-width: $rhombus-size;
      min-height: $rhombus-size;
      margin-top: 2px;
    }

    .vs-text {
      font-size: 30px;
      line-height: 38px;
      align-items: center;
      text-align: center;
      align-content: center;
      justify-content: center;
      padding: 0;
      z-index: 1000;
      margin-left: -33px;
    }
  }

  .button-wrapper {
    z-index: 1;
    margin-top: 40px;
  }

  .comparison-download-btn {
    background: #fc6d26;
    display: inline-block;
    padding: 4px 40px;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;

    &.shadow {
      box-shadow: 4px 4px #380d75;
    }
  }
}