<a
  href="#"
  class="slp-author-avatar slp-flex slp-justify-center slp-items-center"
>
  <img
    <% if author.name %>
      alt="<%= author.name %> GitLab profile"
    <% else %>  
      alt="Tanuki GitLab profile"
    <% end %>  
    height="70"
    width="70"
    <% if author.picture %>
      src="/images/team/<%= author.picture %>",
    <% else %>  
      src="/images/gitlab-logo-extra-whitespace.png",
    <% end %>   
    class="slp-rounded-full"
  />
</a>